<header>
    <div class="logo">
        <a href=""><img src="assets/img/logo.jpeg" height="284" width="563" alt="Logo do Site"></a>
    </div>
<div class="menu">
    <div class="menu-principal container-grid posicionamento-header">
            <nav id="menu" class="lista-menu">
                <a href="">Início</a>
                <a href="">Games</a>
                <a href="">Novidades</a>
                <a href="">Promoções</a>
                <a href="">Login</a>
            </nav>
            <a href="#" onclick = "mostrarMenu()" id="barras"><img class="barras" src="assets/img/menubarra.svg" alt="Menu de Barras"></a>
    </div>
</div>
</header>
